#game-answer-text {
  color: rgba(255, 255, 255, 0.85);
}

#game-answer-fade {
  background: linear-gradient(rgba(25, 25, 25, 1.0), rgba(0, 0, 0, 0.0));
}

.autocomplete-word {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(175, 175, 175, 0);
}

.autocomplete-word:active {
  background-color: rgba(175, 175, 175, 0.75);
}

.keyboard-key {
  color: rgba(255, 255, 255, 0.85);
}

.keyboard-key:active {
  background-color: rgba(175, 175, 175, 0.75);
}

#keyboard-custom {
  color: rgba(255, 255, 255, 0.85);
}

#past-answers-upper-fade {
  background: linear-gradient(rgba(35, 35, 35, 1.0), rgba(0, 0, 0, 0.0));
}

#past-answers-lower-fade {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(35, 35, 35, 1.0));
}

.past-answer-div {
  background-color: rgb(120, 113, 95);
}